{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">

        <img src="{{ asset('bundles/project3website/images/food-guru.png') }}" alt="logo" class="img-responsive center-block" />
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="title">
                    Chicken wraps
                </h3>
            </div>

            <div class="full-image">
                <img src="{{ asset('bundles/project3website/images/chilli-chicken-wraps.jpg') }}" alt="food">
            </div>

            <div class="detail minusfix">
                <div class="col-md-6 bordered">
                    <p class="text-left">Pikante tomaten-looksaus wrap met gebakken kip</p>
                </div>
                <div class="col-md-2 bordered">
                    <p>45 min</p>
                </div>
                <div class="col-md-4 bordered">
                    <p>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>

    {#-------------INGREDIENTEN-------------#}
        <div class="col-md-8 col-md-offset-2">
            <p class="plusfix"> WELKE INGREDIENTEN</p>
            <div class="col-md-4 bordered">
                <div class="col-md-offset-1 plusfix">
                    <ul class="col-md-6">
                        <li>pasta</li>
                        <li>kip</li>
                        <li>tomaten</li>
                        <li>look</li>
                        <li>courgette</li>
                        <li>ajuin</li>
                    </ul>
                    <ul class="col-md-3">
                        <li class="list-unstyled">v</li>
                        <li class="list-unstyled">v</li>
                        <li class="list-unstyled">v</li>
                        <li class="list-unstyled">v</li>
                        <li class="list-unstyled">v</li>
                        <li class="list-unstyled">v</li>
                    </ul>
                    <ul class="col-md-3">
                        <li class="list-unstyled">x</li>
                        <li class="list-unstyled">x</li>
                        <li class="list-unstyled">x</li>
                        <li class="list-unstyled">x</li>
                        <li class="list-unstyled">x</li>
                        <li class="list-unstyled">x</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p class="btn shoppinglist bordered text-center">MAAK SHOPPINGLIJST</p>
                </div>
            </div>
        </div>

    {#-------------RECEPT-------------#}
    <div class="col-md-8 col-md-offset-2">
        <p class="plusfix">RECEPT</p>
        <div class="col-md-12 bordered">
            <div class="col-md-3">
                <div class="col-md-offset-1">
                    <ul class="col-md-6">
                        <li class="list-unstyled plusfix" style="margin-left:-1em;">BENODIGDHEDEN(4personen)</li>
                        <li>pasta</li>
                        <li>kip</li>
                        <li>tomaten</li>
                        <li>look</li>
                        <li>courgette</li>
                        <li>ajuin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    {#-------------STAPPEN-------------#}
    <div class="col-md-8 col-md-offset-2">
        {# 1 #}
        <div class="receptlist">
            <div class="col-md-2"><p>DONE</p></div>
            <div class="col-md-10">
                <p>Snijd de ajuin en courgette. Maak tomatenpuree. Als er nog vet aan de billen hangt, snij deze er ook af.</p>
            </div>
        </div>
        {# 2 #}
        <div class="receptlist">
            <div class="col-md-2"><p>DONE</p></div>
            <div class="col-md-10">
                <p>Bak de ajuin samen met de look tot de ajuin glazig is. Voeg dan de courgette toe en bak deze lichtjes. Voeg de tomatenpuree toe.</p>
            </div>
        </div>
        {# 3 #}
        <div class="receptlist">
            <div class="col-md-2"><p>DONE</p></div>
            <div class="col-md-10">
                <p>Bak de kip in een aparte pan en voeg deze toe aan de saus. Kook de pasta. Voeg alles samen</p>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <p class="btn pull-right bordered plusfix">PRINT</p>
    </div>

    {#-------------REVIEWS-------------#}
    <div class="col-md-8 col-md-offset-2">
        <p class="plusfix">REVIEWS</p>
        <div class="receptlist">
            <div class="col-md-12">
                <p>
                    <span>Door Phedra op 28/08/2017</span>
                    <br> Lekkere dingen hierzo!
                </p>
            </div>
        </div>
        <div class="receptlist">
            <div class="col-md-12">
                <p>
                    <span>Door Phedra op 28/08/2017</span>
                    <br> Lekkere dingen hierzo!
                </p>
            </div>
        </div>
    </div>

    {#-------------SCHRIJF EEN REVIEW-------------#}
    <div class="col-md-8 col-md-offset-2 plusfix">
        <p class="plusfix">SCHRIJF EEN REVIEW</p>
        <textarea name="review" class="bordered" cols="100" rows="5"></textarea>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <p class="btn bordered plusfix">STUUR IN</p>
    </div>

    </div>
</div>

{% endblock %}