{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6 col-md-offset-3">
                <p class="text-center">HIER HEB JE AL ONZE GERECHTEN</p>
            </div>
            <div class="col-md-2 col-md-offset-3">
                <p class="text-center">Vlees</p>
            </div>
            <div class="col-md-2">
                <p class="text-center">Vis</p>
            </div>
            <div class="col-md-2">
                <p class="text-center">Veggie</p>
            </div>

        </div>
    </div>

    <div class="row">

            <div class="col-md-6 text-center">
                <div class="img-responsive">
                    <img src="{{ asset('bundles/project3website/images/test.png') }}" alt="test">
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <p>CHICKEN TANDOORI</p>
                </div>

                <div class="col-md-3 col-md-offset-3">
                    <p>aaaaaa</p>
                </div>

                <div class="col-md-3">
                    <p>aaaaaaa</p>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="img-responsive">
                    <img src="{{ asset('bundles/project3website/images/test.png') }}" alt="test">
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <p>CHICKEN TANDOORI</p>
                </div>

                <div class="col-md-3 col-md-offset-3">
                    <p>aaaaaa</p>
                </div>

                <div class="col-md-3">
                    <p>aaaaaaa</p>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="img-responsive">
                    <img src="{{ asset('bundles/project3website/images/test.png') }}" alt="test">
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <p>CHICKEN TANDOORI</p>
                </div>

                <div class="col-md-3 col-md-offset-3">
                    <p>aaaaaa</p>
                </div>

                <div class="col-md-3">
                    <p>aaaaaaa</p>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="img-responsive">
                    <img src="{{ asset('bundles/project3website/images/test.png') }}" alt="test">
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <p>CHICKEN TANDOORI</p>
                </div>

                <div class="col-md-3 col-md-offset-3">
                    <p>aaaaaa</p>
                </div>

                <div class="col-md-3">
                    <p>aaaaaaa</p>
                </div>
            </div>

    </div>

{% endblock %}