{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-1 col-md-offset-4">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6" style="background:orange;">
                <div class="img-responsive">
                    <img src="{{ asset('bundles/project3website/images/test.png') }}" alt="test">
                </div>
            </div>

            <div class="col-md-6" style="background:blue;">
                <div class="img-responsive">
                    <img src="{{ asset('bundles/project3website/images/test.png') }}" alt="test">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6" style="background:orange;">
                <div class="img-responsive">
                    <img src="{{ asset('bundles/project3website/images/test.png') }}" alt="test">
                </div>
            </div>

            <div class="col-md-6" style="background:blue;">
                <div class="img-responsive">
                    <img src="{{ asset('bundles/project3website/images/test.png') }}" alt="test">
                </div>
            </div>
        </div>

    </div>

{% endblock %}