<div class="footer col-sm-8 col-sm-offset-2 text-center plusfix">
        <a class="page-scroll" href="{{ path('project3_website_home') }}">HOME</a>
        <a class="page-scroll" href="{{ path('project3_alle_gerechten') }}">GERECHTEN</a>
        <a class="page-scroll" href="{{ path('project3_website_contact') }}">CONTACT</a>
</div>