{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <img src="{{ asset('bundles/project3website/images/food-guru-logo-medium.png') }}" alt="logo" class="img-responsive center-block gerechten resize-logo-medium" />

                <div class="col-sm-8 col-sm-offset-2 margin-bottom-1-5em">
                    <h3 class="title">
                        JOUW INSTELLINGEN
                    </h3>
                </div>

                {# E-MAIL #}
                <div class="col-sm-12 text-left container-white padding-2em">
                    <p class="margin-bottom-1em">Gerechten en shoppinglijstjes mogen naar deze adressen verstuurd worden:</p>
                    <ul class="list-group margin-bottom-0">
                    {% for contact in contacts %}
                        <li class="list-group-item category">
                            {{ contact.email }}
                            <button class="btnnn semibold pull-right instellingen aanpassen-button semibold">
                              <a href="{{ path('project3_contact_edit', { 'id': contact.id }) }}">AANPASSEN</a>
                            </button>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-12 category">
                    <button class="btnnn semibold pull-right instellingen aanpassen-button semibold" >
                        <a href="{{ path('project3_contact_new') }}">
                            NIEUWE TOEVOEGEN
                        </a>
                    </button>
                </div>
              </div>

            </div>
        </div>
    </div>

{% endblock %}
