{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <img src="{{ asset('bundles/project3website/images/food-guru-logo-medium.png') }}" alt="logo" class="img-responsive center-block gerechten resize-logo-medium" />

                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="title">
                        JOUW INSTELLINGEN
                    </h3>
                </div>

                {# E-MAIL #}
                <div class="col-sm-12 text-left  container-white">
                    <p class="margin-bottom-1em">Gerechten en shoppinglijstjes mogen verstuurd worden naar deze adressen verstuurd worden:</p>
                    <ul class="list-group">
                    {% for contact in contacts %}
                        <li class="list-group-item">
                            {{ contact.email }}
                            <a class="btn btn-primary pull-right" href="{{ path('project3_contact_edit', { 'id': contact.id }) }}">aanpassen</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
