{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="{{ asset('bundles/project3website/images/food-guru-logo-medium.png') }}" alt="logo" class="img-responsive center-block gerechten" />

                <div class="col-md-8 col-md-offset-2">
                    <h3 class="title">
                        JOUW INSTELLINGEN
                    </h3>
                </div>

                {# E-MAIL #}
                <div class="col-md-8 text-left">Shoppinglijstjes en gerechten mogen naar dit e-mail verzonden worden:</div>

                <input class="col-md-4" type="text" value="{{ email }}">

                <div class="col-md-12">
                    <a href='{{ path('project3_instellingen_save',{'email':email}) }}' class="btn btn-default" style="margin-top:2em;">opslaan</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}