{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-12">
            <img src="{{ asset('bundles/project3website/images/food-guru.png') }}" alt="logo" class="img-responsive center-block gerechten" />
            <div class="col-md-6 col-md-offset-3">
                <h3 class="text-center title">
                    KLAARGEMAAKTE GERECHTEN
                </h3>
            </div>
        </div>

        <div class="col-md-12 text-center">
            <div class="col-md-4 text-center">
                <div class="img-responsive">
                    <img class="col-md-12" src="{{ asset('bundles/project3website/images/chilli-chicken-wraps.jpg') }}" alt="test">
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <p>CHICKEN TANDOORI</p>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="img-responsive">
                    <img class="col-md-12" src="{{ asset('bundles/project3website/images/chilli-chicken-wraps.jpg') }}" alt="test">
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <p>IETS ANDERS</p>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>

            </div>

            <div class="col-md-4 text-center">
                <div class="img-responsive">
                    <img class="col-md-12" src="{{ asset('bundles/project3website/images/chilli-chicken-wraps.jpg') }}" alt="test">
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <p>NOG IET ANDERS</p>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
