{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-12">
            <img src="{{ asset('bundles/project3website/images/food-guru-logo-medium.png') }}" alt="logo" class="img-responsive center-block gerechten" />
            <div class="col-sm-6 col-sm-offset-3">
                <h3 class="text-center title">
                    JOUW SHOPPINGLIJSTJES
                </h3>
            </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1 text-center">

            <div class="col-sm-4 account">
                <div class="bordered">
                    <p class="text-center">Spicy Chicken pasta</p>
                    <p class="text-center">02/10/2017</p>
                </div>
                <div class="bordered col-sm-12">
                    <ul class="col-sm-12">

                        <li class="col-sm-12 list-unstyled margin-top-1em">
                            <span class="col-sm-6 text-left">Tomaten</span>
                            <span class="col-sm-6 pull-right">&euro; 3.15</span>
                        </li>
                        <li class="col-sm-12 list-unstyled">
                            <span class="col-sm-6 text-left">Look</span>
                            <span class="col-sm-6 pull-right">&euro; 0.30</span>
                        </li>
                        <li class="col-sm-12 list-unstyled">
                            <span class="col-sm-6 text-left">Courgette</span>
                            <span class="col-sm-6 pull-right">&euro; 2.50</span>
                        </li>
                        <li class="col-sm-12 list-unstyled">
                            <span class="col-sm-6 text-left">Tomaten</span>
                            <span class="col-sm-6 pull-right">&euro; 2.25</span>
                        </li>

                    </ul>

                </div>
                <div class="bordered">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>

            </div>

            <div class="col-sm-4 account">
                <div class="bordered">
                    <p>Mexican Wrap</p>
                    <p>28/09/2017</p>
                </div>
            </div>

            <div class="col-sm-4 account">
                <div class="bordered">
                    <p>Pizza Napolitana</p>
                    <p>26/09/2017</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}