{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-3">
                <h3 class="text-center">
                    JOUW SHOPPINGLIJSTJES
                </h3>
            </div>
        </div>

        <div class="col-md-12 text-center">

            <div class="col-md-2 col-md-offset-2 account">
                <div class="bordered">
                    <p class="text-center">Spicy Chicken pasta</p>
                    <p class="text-center">02/10/2017</p>
                </div>
                <div class="bordered">
                    <p class="pull-left">Tomaten</p>
                    <p>&euro; 3,15 </p>

                    <p class="pull-left">Look</p>
                    <p>&euro; 0.30 </p>

                    <p class="pull-left">Courgette</p>
                    <p>&euro; 2,50 </p>

                    <p class="pull-left">Ajuin</p>
                    <p>&euro; 2,25 </p>
                </div>
                <div class="bordered">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>

            </div>

            <div class="col-md-2 col-md-offset-1 account">
                <div class="bordered">
                    <p>Mexican Wrap</p>
                    <p>28/09/2017</p>
                </div>
            </div>

            <div class="col-md-2 col-md-offset-1 account">
                <div class="bordered">
                    <p>Pizza Napolitana</p>
                    <p>26/09/2017</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}