

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ZOEKEN HOMEPAGE */
#top-margin {
    margin-top:25%;
    margin-bottom:30%;
}

/* ALLE IMAGES */
.img-responsive {
    margin-top:5rem;
}

/* SHOPPINGLISTS */
.bordered {
    border:1px solid black;
}
.bordered .pull-left {
    margin-left:0.8em;
    display: block;
}
/* GERECHT DETAIL */
.bordered.detail {
    margin-top:1em;
    margin-bottom:2em;
    height:2em;
    display: block;
}

/* GERECHTEN & QUERY GERECHTEN */
.category {
    margin-top:1em;
    padding:1em;
    background: orange;
}

.full-image img {
    background: center center no-repeat;
    width:100%;
    height:100%;
    display: block;
    border:1px solid orange;
}