

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ZOEKEN HOMEPAGE */
#top-margin {
    margin-top:50%;
    margin-bottom:50%;
}

.img-responsive {
    margin-top:1em;
    margin-left:25%;
}

.col-md-1 {
    background: blue;
    height:2em;
}
.col-md-2 {
    background: orange;
    height:2em;
}











