

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ZOEKEN HOMEPAGE */
#top-margin {
    margin-top:25%;
    margin-bottom:30%;
}

/* ALLE IMAGES */
.img-responsive {
    margin-top:5rem;
}

/* SHOPPINGLISTS */
.bordered {
    border:1px solid black;
}
.bordered .pull-left {
    margin-left:0.8em;
    display: block;
}

/* GERECHTEN & QUERY GERECHTEN */
.category {
    margin-top:1em;
    padding:1em;
    background: orange;
}