{% extends "@Project3Website/layout.html.twig" %}

{% block title %}Project3WebsiteBundle:PaginaController:index{% endblock %}

{% block body %}
    <h1>Welcome to the PaginaController:index page</h1>
{% endblock %}
