{% extends "@Project3Website/layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1>Email wijzigen </h1>
                    {{ form_start(edit_form) }}

                    <div class="col-sm-12">
                        <ul class="list-group margin-bottom-0 col-sm-12 ">
                            <li class="list-group-item category ">
                                {{ form_widget(edit_form.email, { "attr":{ "class":"form-control control" } }) }}                                    </button>
                            </li>
                            <li class="list-unstyled ">
                                <button type="submit" class="semibold instellingen aanpassen-button col-sm-4">
                                    save
                                </button>
                            </li>
                        </ul>



                    </div>
                        {#EMAIL#}


                    {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}