{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="col-md-10 col-md-offset-1">
        <img src="{{ asset('bundles/project3website/images/food-guru.png') }}" alt="logo" class="img-responsive center-block gerechten" />
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center title">
                SUPPORT FORMULIER
            </h3>
        </div>
    </div>

{% endblock content %}
