{% extends "@Project3Website/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped dataTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tbody>
                {% for dummy in group.dummys|default({}) %}
                    <tr>
                        <td>{{ dummy }}</td>
                        <td><a href="{{ path('project3_website_dummy', {slug: dummy.slug}) }}">View</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'Project3WebsiteBundle:Partials:footer.html.twig' %}
{% endblock %}
