{% extends "@Project3Website/layout.html.twig" %}

{% block cssfiles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/project3website/css/home.css') }}">
{% endblock cssfiles %}

{% block content %}

    {#ZOEKEN#}
      <div class="row">
          <img src="{{ asset('bundles/project3website/images/food-guru-logo-big.png') }}" alt="logo" class="img-responsive center-block resize-logo-big padding-15" />
          <div class="col-sm-6 col-sm-offset-3">
              <div class="text-center">
                  <h3 class="margin-bottom-20">Geen inspiratie voor het avondeten?</h3>
              </div>

              <form action="{{ path('project3_gerecht_query',{limit:'10'}) }}">
                  <div class="input-group stylish-input-group">
                      <input required name="searchinput" type="text" class="form-control text-center" placeholder="Geef hier de ingrediënten in die je thuis hebt liggen" >
                          <span class="input-group-addon">
                              <button type="submit" class="glyphicon glyphicon-search"></button>
                          </span>
                      </span>
                  </div>
              </form>

          </div>
      </div>
{% endblock content %}
