{% extends "@Project3Website/layout.html.twig" %}

{% block jumbotron %}
    {#<div class="jumbotron">#}
        {#<div class="container text-center">#}
            {#<h1>FoodGuru</h1>#}
        {#</div>#}
    {#</div>#}
{% endblock jumbotron %}

{% block content %}

    {#ZOEKEN#}
    <div class="row">
        <img src="{{ asset('bundles/project3website/images/food-guru.png') }}" alt="logo" class="img-responsive center-block" />
        <div class="col-sm-6 col-sm-offset-3">
            <div id="top-margin">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
