{% extends "@Project3Website/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ render(controller("Project3WebsiteBundle:Security:loginForm")) }}
        </div>
    </div>
{% endblock %}