{% extends "@Project3Website/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-3">
                {{ render(controller("Project3WebsiteBundle:Security:loginForm")) }}
            </div>
        </div>
    </div>
{% endblock %}